<footer class="bg-dark text-white py-4">
    <div class="container">
        <nav class="row">
              <!--LOGO -->
              <ul class="col-3 list-unstyled">
                <a href="#" class="col.text-reseset text-uppercase d-flex align-items-center">
                <img src="/img/logoemp.png" alt="NETENT" class="img-logo mr-2">
                </a> 
                </ul>
              <!--menu-->
              <ul class="col-3 list-unstyled">
                  <li 'font-weight-bol text-upperc' >Resource</li>
                  <li>
                      <a href="#" class="text-reset"> Link 1</a>
                  </li>
              </ul>
              <!--Redes-->
              <ul class="col-3 list-unstyled">
                  <li 'font-weight-bol text-uppercase' >Redes sociales</li>
                  <li class="d-flex justify-content-between">
                      <!--Fb-->
                      <a href="#" class="text-reset">
                          <i class='bx bxl-facebook-circle'></i>
                      </a>
                      <!--Twitter-->
                      <a href="#" class="text-reset">
                          <i class='bx bxl-twitter'></i>
                      </a>
                      <!--Insta-->
                      <a href="#" class="text-reset">
                          <i class='bx bxl-instagram'></i>
                      </a>
                      <!--WhatsApp-->
                      <a href="#" class="text-reset">
                          <i class='bx bxl-whatsapp'></i>
                      </a>
                  </li>
              </ul>
        </nav>
    </div>
</footer>