<!--Menú-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
        <img class="logo me-5 logo_img" class="" src="/img/logo2.png" alt="Logoo">
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
         </li>
        <li class="nav-item">
            <a class="nav-link me-3 menu_barra" href="#nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
            <a class="nav-link me-3 menu_barra" href="#producto">Productos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link me-3 menu_barra" href="#servicio">Servicios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link me-3 menu_barra" href="#hist">Historia</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link me-3 menu_barra" href="/users/signin">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link me-3 menu_barra" href="/users/signup">Registrarse</a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            PEDIDOS
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/pedido"></a></li>
            <li><a class="dropdown-item" href="/pedido/add">Añadir Pedido</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/users/logout">Cerrar Sesion</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--Fin del Menú-->