<body>
<!-- Inicio-->
    <section class="row w-100" id="inicio">
      <div class="row">
        <div class="col md-8 text-xl-center offset-md-1"><h1 class="primary ">Bienvenido</h1>
          <div class="col-md-10 "></div> 
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="./img/principal.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h1></h1>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <img src="./img/cafecar.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="./img/caffe.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </section>
   <!--NOSOTROS-->
   <div><center><h1>NOSOTROS</h1></center></div>
   <section class="row w-100" id="nosotros">
    <div class="py-5 col-lg-6 col-img"></div>
    <div class="col-lg-6">
      <div class="container">
     <div class="row">
       <div class="col md-8 text-xl-center offset-md-1">
         <div class="col-md-10 ">
         <h1 class="primary ">Fundada en 1958</h1>
         <p class=> Desde hace 58 años, Tostaduria Buen Café ha mantenido una constante atención,
          desde la plantación hasta los hornos tostadores. Su fundador un hombre ingenioso, visionario 
          y emprendedor construyó personalmente el primer tostador en los talleres de un amigo, 
          en el año 1958 y se preocupó desde un inicio por seleccionar los mejores granos de café 
          provenientes de las ocho regiones que producen el mejor café de Guatemala.</p>
          <p></p>
          <p>Esta herencia de virtudes, conocimientos  y gran compromiso con la excelencia,  
          alcanza a la tercera generación de una familia, que ha sabido atesorar la experiencia y 
          atiende hasta los más mínimos detalles, en la planta de producción actual, equipada con 
          maquinaria importada de Alemania.</p>


          <p>Tostaduria Buen Café, hoy es el proveedor número uno de las principales corporaciones de café en Guatemala.</p>
          <p>Sus cinco variedades de exquisito aroma, son como un tributo a los paladares que saben, conocen y exigen, 
            el sabor con la calidad del Mejor Café del Mundo. </p>
       </div>
     </div>
   </div>
  </div>  
</body>