<body>
<!-- Inicio-->
    <section class="row w-100" id="inicio">
      <div class="row">
        <div class="col md-8 text-xl-center offset-md-1"><h1 class="primary ">Bienvenido</h1>
          <div class="col-md-10 "></div> 
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000">
              <img src="./img/principal.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
                <h1></h1>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="10000">
              <img src="./img/cafecar.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
            <div class="carousel-item">
              <img src="./img/caffe.png" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
    </section>
   <!--NOSOTROS-->
   <div><center><h1>NOSOTROS</h1></center></div>
   <section class="row w-100" id="nosotros">
    <div class="py-5 col-lg-6 col-img"></div>
    <div class="col-lg-6">
      <div class="container">
     <div class="row">
       <div class="col md-8 text-xl-center offset-md-1">
         <div class="col-md-10 ">
         <h1 class="primary ">Fundada en 1958</h1>
         <p class=> Desde hace 58 años, Tostaduria Buen Café ha mantenido una constante atención,
          desde la plantación hasta los hornos tostadores. Su fundador un hombre ingenioso, visionario 
          y emprendedor construyó personalmente el primer tostador en los talleres de un amigo, 
          en el año 1958 y se preocupó desde un inicio por seleccionar los mejores granos de café 
          provenientes de las ocho regiones que producen el mejor café de Guatemala.</p>
          <p></p>
          <p>Esta herencia de virtudes, conocimientos  y gran compromiso con la excelencia,  
          alcanza a la tercera generación de una familia, que ha sabido atesorar la experiencia y 
          atiende hasta los más mínimos detalles, en la planta de producción actual, equipada con 
          maquinaria importada de Alemania.</p>


          <p>Tostaduria Buen Café, hoy es el proveedor número uno de las principales corporaciones de café en Guatemala.</p>
          <p>Sus cinco variedades de exquisito aroma, son como un tributo a los paladares que saben, conocen y exigen, 
            el sabor con la calidad del Mejor Café del Mundo. </p>
       </div>
     </div>
   </div>
  </div>  
  </section>

  <section>
    <!-- P-->
    <div><center><h1>PRODUCTOS</h1></center></div>
    <div class="container">
        <div id="producto" class="carousel slide" data-bs-ride="carousel">
           <div class="carousel-inner">
                <div class="carousel-item active">
                 <img src="/img/cafee1.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/cafe2.png" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="/img/cafe-guate.png" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
       </div>
          <section class="row w-100">
            <div class="py-5 col-lg-6 colum-img"></div>
            <div class="col-lg-6">
              <div class="container">
                  <div class="row">
                     <div class="col md-8 text-xl-center offset-md-1">
                        <div class="col-md-10 ">
                          <h2 class="primary ">EXPRESS SUPER</h2>
                          <p class=> CLASIFICACIÓN: 100% Café Arábico, Super</p>
                            <p class=> TIPO DE GRANOS UTILIZADOS: Grano Duro, Semi Duro y Extra Prima.</p>
                            <p class=> DESCRIPCIÓN: Sabor Fuerte y Tonos Amargos</p>
                            <p class=> TUESTE: Oscuro</p>
                            <p class=> USOS: Café especial para máquinas Espresso.</p>
                           </div>
                        </div>
                      </div>
                    </div>          
                 </div>
              </div>
             </div>

          <div class="py-5 col-lg-6 column-img"></div>
            <div class="col-lg-6">
              <div class="container">
                 <div class="row">
                  <div class="col md-8 text-xl-center offset-md-1">
                    <div class="col-md-10 ">
                      <h2 class="primary ">MORO SUPER</h2>
                      <p class=> CLASIFICACIÓN: 100% Café Arábico, Super</p>
                      <p class=> TIPO DE GRANOS UTILIZADOS: Grano Duro, Semi Duro y Extra Prima.</p>
                      <p class=> DESCRIPCIÓN: Sabor e Intensidad Balanceada</p>
                      <p class=> TUESTE: Medio</p>
                      <p class=> USOS: Este Café se puede utilizar en máquinas Percoladoras, de Filtro,French Press, Jarilla (método apagado).</p>
                   </div>
                  </div>
               </div>
             </div>          
           </div>
         </div>
   
 
          <div class="py-5 col-lg-6 columna-img"></div>
            <div class="col-lg-6">
              <div class="container">
                <div class="row">
                  <div class="col md-8 text-xl-center offset-md-1">
                    <div class="col-md-10 ">
                      <h2 class="primary ">MOCCA SUPER</h2>
                      <p class=> CLASIFICACIÓN: 100% Café Arábico, Super</p>
                      <p class=> TIPO DE GRANOS UTILIZADOS: Grano Duro, Semi Duro y Extra Prima.</p>
                      <p class=> DESCRIPCIÓN: Sabor Suave y Tonos Dulces</p>
                      <p class=> TUESTE: Claro</p>
                      <p class=> USOS:Este Café se puede utilizar en máquinas Percoladoras, de Filtro, French Press, Jarilla (método apagado).</p>
                    </div>
                  </div>
              </div>
          </div>          
        </div>
      </div>
    </div>
  </section>


<div><center><h1>SERVICIOS</h1></center></div>
 <section class="row w-100" id="servicio">
      <div class="col-lg-6">
        <div class="container">
       <div class="row">
         <div class="col md-8 text-xl-center offset-md">
           <div class="col-md-10 "></div> 
           <h1 class="primary ">Nuestros servicios </h1> 
           <div class="row">
             <div class="comida card-effect offset-md-3 py-1">
                <div class="col-lg col-sm-6">
          <div class="iconbox ">
            <i class='bx bxs-coffee'></i>
          </div>
          <h4 class="mt-4 mb-2 ">Café Tostado </h4>
            <p>Ofrecemos el servicio de tueste de café, el proceso de tostar café es uno de los momentos importantes que puede terminar la calidad percibida en la taza. 
            Cada tipo de café debe ser tostado de acuerdo a sus características particulares, porque de eso depende que se resalten o anulen sus cualidades
          </p>
          <div class="iconbox ">
            <i class='bx bxs-coffee'></i>
          </div>
          <h4 class="mt-4 mb-2">Café Molido</h4>
         <p>En este proceso con el molido se transforman los granos de café tostado en partículas
            de tamaño uniforme. Según el grado de molienda, las partículas ofrecerán una mayor o 
            menor resistencia al paso del agua dependiendo el uso que se haga.
          </p>
          <div class="iconbox ">
            <i class='bx bxs-coffee'></i>
          </div>
          <h4 class="mt-4 mb-2">Proceso de Empaque</h4>
          <p>Ofrecemos el servicio de empaque de café con nuestros propios empaques o que el cliente provea,
            asi como la entrega de su paquete hasta la puerta de su casa.
          </p>
          
        </div>
      </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>   
      <div class="py-5 col-lg-6 col-img"></div>
    </section>




 <div><center><h1>Historia</h1></center></div>
   <section class="row w-100" id="hist">
    <div class="py-5 col-lg-6 cl-img"></div>
    <div class="col-lg-6">
      <div class="container">
     <div class="row">
       <div class="col md-8 text-xl-center offset-md-1">
         <div class="col-md-10 ">
         <h1 class="primary ">HISTORIA DEL CAFÉ EN GUATEMALA</h1>
         <p class=> DATOS HISTÓRICOS: 
          Sacado del jardín de un monasterio Jesuita, el café fue convertido por aquellos productores
           pioneros y revolucionarios inventores, en el más poderoso motor de la economía.  
           A través de auge y caídas, erupciones volcánicas, terremotos, aislamiento y  dificultades,
            se logró crear un nivel de calidad y variedades regionales sin iguales alrededor del mundo.
          </p>
          <p></p>
          <p>Mediados de 1700:  Un inicio monegasco: 
          Sacerdotes jesuitas traen las primeras matas de café a la ciudad colonial de Antigua, como plantas
          ornamentales para los jardines de su monasterio.
          1800:  El año de la plaga
          La plaga de langosta devasta las plantaciones de añil, arrasando con uno de los dos cultivos de exportación
          de los cuales, la economía dependía, lo cual forzó al gobierno a buscar nuevas exportaciones posibles.</p>

          <p>1958:  TOSTADURÍA BUEN CAFÉ: 
          Es creada Tostaduría Buen Café su fundador un hombre ingenioso, visionario y emprendedor construyó personalmente
          el primer tostador en los talleres de un amigo y se preocupó desde un inicio por seleccionar los mejores granos de
          café provenientes de las ocho regiones que producen el mejor café de Guatemala. </p>
       </div>
     </div>
   </div>
  </div>  
  </section>

</body>